body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HEADER*/
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* A nicer, more readable font */
}

header {
    background-color: #ADD8E6; /* Light blue background */
    color: black; /* Changing text color to black for better contrast */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.company-name {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.nav-buttons button {
    background-color: transparent; /* Transparent background */
    color: black; /* Button text color */
    border: 2px solid black; /* Adding a border to the buttons */
    border-radius: 5px; /* Rounded corners for buttons */
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.nav-buttons button:hover {
    background-color: black; /* Button hover background */
    color: white; /* Button hover text color */
    border-color: white; /* Button hover border color */
}

.filter-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4cb6fc; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    border: 0cap;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #2980b9; /* Change the color on hover */
}

.restaurant-button {
    display: inline-block;
    padding: 15px 30px;
    margin-left: 10%;
    width:80%; 
    height:195px; 
    background:rgb(157, 153, 153);
    background-color: 'light-gray'; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    border: 0cap;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
    transition: background-color 0.3s ease;
}

.restaurant-button:hover {
    background-color: #2980b9; /* Change the color on hover */
}
